extends layout

block content
  section.section
    .container
      .columns.is-mobile
        .column.is-12.has-text-centered.mt-2
          .content
            h1.title=movie.title
            span average rating
              h3.title.has-text-success=movie.rating
      .columns
        .column.is-one-fifth.has-text-centered
          figure.image
            img.img-m(src=`../${movie.poster}`, alt=`poster ${movie.title}`, srcset="")
          h3.subtitle=movie.year
        .column
          .content
            h4.subtitle synopsis
            p=movie.synopsis